.post-container {
    background-color: var(--bg-sec);
    border-radius: 4px;
    padding: 20px 20px;
    border: solid 2px transparent;
    transition: border-color 0.2s ease-in-out;
}

.post-container:hover {
    border-color: rgba(255, 255, 255, 0.25);
}

.post-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.post-title {
    font-weight: bold;
    font-size: 1.2rem;
}